# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3
*.egg-info/
*.egg
*.env
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
token.json
credentials.json

# Logs
*.log
